<h1>Products</h1>

<div class="card">
  <div class="card-header">Lorem ipsum - products 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, inventore
    quasi! Eligendi est cupiditate neque fugit sapiente! Quos delectus eius,
    obcaecati optio consequuntur quibusdam repellendus quisquam quis odio
    distinctio ut.
  </div>
</div>

<div class="card">
  <div class="card-header">Lorem ipsum - products 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, inventore
    quasi! Eligendi est cupiditate neque fugit sapiente! Quos delectus eius,
    obcaecati optio consequuntur quibusdam repellendus quisquam quis odio
    distinctio ut.
  </div>
</div>
