@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6ede7;

  &-header {
    padding: 1rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }
  &-body {
    padding: 1rem;
  }
}
